<footer>

  <ul>
    <li><h2>MOLGENIS</h2></li>
    <li><a href="get">Get</a></li>
    <li><a href="features">Features</a></li>
    <li><a href="communities">Communities</a></li><!-- kunnen we ook solutions noemen -->
    <li><a href="learn">Learn</a></li><!-- samenvoegen met support en dan 'Help' noemen?-->
    <li><a href="team">Team</a></li><!-- GCC, maar ook over al onze partners -->
  </ul>

  <ul>
    <li><h2>Legal</h2>
    <li>
      MOLGENIS is free to use under <a href="/LICENCE-LGPLv3">LGPLv3 License</a>. Please cite <a href="https://www.ncbi.nlm.nih.gov/pubmed/30165396">Van der Velde et al (2018)</a>, <a href="http://www.ncbi.nlm.nih.gov/pubmed/21210979">Swertz et al (2010)</a> or <a href="http://www.ncbi.nlm.nih.gov/pubmed/17297480">Swertz &amp; Jansen (2007)</a> on use.
    </li>
  </ul>

<ul>
  <li><h2>Contact</h2></li>
  <li><a href="mailto:molgenis-support@umcg.nl">molgenis-support@umcg.nl</a></li>
  <li>
    <div style="text-align: center;">
    <a href="/"><img id="footer_logo" src="/assets/img/logo_green_green.png"></a>
    </div>
  </li>
</ul>
</footer>
