<a href="/"><img id="logo" src="/assets/img/logo_{{page.layout}}.png"></img></a>
<nav>
  <ul>
    <div><input type="checkbox" id="menu"><label for="menu">&#9776;</label>
    <li><a href="/get">Get</a></li><!-- samenvoegen met support en dan 'Help' noemen?-->
    <li><a href="/features">Features</a></li>
    <li><a href="/communities">Communities</a></li><!-- kunnen we ook solutions noemen -->
    <li><a href="/learn">Learn</a></li><!-- GCC, maar ook over al onze partners -->
    <li><a href="/team">Team</a></li><!-- GCC, maar ook over al onze partners -->
    </div>
  </ul>
</nav>
