<div class="newscontainer">
{% for post in site.posts limit:2 %}
<div class="newsitem" onclick="location.href = '{{ post.url }}'" style="cursor: pointer">
<h2><small><a href="{{ post.url }}">{{post.title}}</a></small></h2>
<small><i>Posted {{ post.date | date: '%A, %B %d, %Y'}}</i></small>
<p>{{ post.excerpt | strip_html | truncatewords: 50 }} <br/><a href="{{ post.url }}">Read more</a></p>
</div>
{% endfor %}
</div>

<div class="newscontainer">
{% for post in site.posts limit:1 offset:2 %}
<div class="newsitem" onclick="location.href = '{{ post.url }}'" style="cursor: pointer">
<h2><small><a href="{{ post.url }}">{{post.title}}</a></small></h2>
<small><i>Posted {{ post.date | date: '%A, %B %d, %Y'}}</i></small>
<p>{{ post.excerpt | strip_html | truncatewords: 50 }} <br/><a href="{{ post.url }}">Read more</a></p>
</div>
{% endfor %}
<div class="newsitem">
<h2><small>Other news</small></h2>
{% for post in site.posts offset:3 limit:5 %}
<p onclick="location.href = '{{ post.url }}'" style="cursor: pointer"><a href="{{ post.url }}">{{post.title}}</a> {{post.intro}} <small><i>{{ post.date | date: '%a, %B %d, %Y'}}</i></small></p>
<hr/>
{% endfor %}
<a class="bluebutton" href="news.html">View news archive</a>
</div>
</div>
