/* margin 96px unrelated, 48px unrelated
padding 24px margin horizontal 128px*/

/* fonts */
@font-face {
    font-family: BebasNeueBold;
    src: url(/assets/fonts/BebasNeue-Bold.woff);
}
/* from https://github.com/IBM/plex/tree/master/IBM-Plex-Mono/fonts/complete/woff */
@font-face {
    font-family: IBMPlexMono;
    src: url(/assets/fonts/IBMPlexMono-Regular.ttf);
}

@font-face {
    font-family: IBMPlexSans;
    src: url(/assets/fonts/IBMPlexSans-Regular.ttf);
}

@font-face {
    font-family: IBMPlexMono-LightItalic;
    src: url(/assets/fonts/IBMPlexMono-Lightitalic.ttf);
}

/* colors */
.green-layout header {
  background: #72F6B2;
}
.green-layout header, .green-layout nav a {
  color: #353535;
}

.blue-layout header {
  background: #017FFD;
}

.blue-layout header, .blue-layout nav a {
  color: white;
}

.black-layout header {
  background: #353535;
}

.black-layout header, .black-layout nav a {
  color: #72F6B2;
}

.green-layout header h1 {
  color: #353535;
  border-top: solid 2px #353535;
}

.blue-layout header h1 {
  border-top: solid 2px white;
}

.black-layout header h1 {
  border-top: solid 2px #72F6B2;
}
@media (min-width: 768px) {
  .green-layout header h1 {
    border-top: solid 4px #353535;
  }

  .blue-layout header h1 {
    border-top: solid 4px white;
  }

  .black-layout header h1 {
    border-top: solid 4px #72F6B2;
  }
}



.black-layout header p {
  color: white;
}

/* body */
body {
  margin: 0px;
}

/* site nav */
/* toggle for the menu when on small screens, works like a checkbox */
#menu {
  display:none;
}
#menu ~ label {
  cursor:pointer;
}
#menu:checked ~ li {
  display: block;
  padding-top: 6px;
}

nav {
  font-family: BebasNeueBold, Oswald, sans-serif;
  margin: 0px;
}

nav a {
    text-decoration: none;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  padding-bottom: 24px;
  padding-top: 24px;
  margin-right: 24px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 20px;
  line-height: 22px;
}

nav li {
  display: none;
  padding-left: 16px;
  text-align:right;
}

nav ul li:first-child
{
  float: left;
}

#logo {
  background-size: auto 38px;
  background-repeat: no-repeat;
  margin-top: 16px; /* 48 + half line height (24/2=12) - half size (44/2 = 22) = 38 */
  margin-left: 24px;
  float: left;
  width: 120px;
  height: 42px;
}

/* @media (min-width: 550px) {
  #logo {
    width: 120px;
  }
} */
@media (min-width: 550px) {
  label[for=menu] {
    display: none;
  }
  nav li {
    display: inline-block;
  }
}
@media (min-width: 768px) {
  nav ul {
    padding-bottom: 48px;
    padding-top: 24px;
    margin-right: 64px;
  }
  nav li {
    padding-left: 24px;
    font-size: 24px;
    line-height: 26px;
    display: inline-block;
  }
  nav li:first-child {
    padding-left: 0px;
  }
  #logo {
    background-size: auto 42px;
    margin-top: 17px; /* 48 + half line height (24/2=12) - half size (44/2 = 22) = 38 */
    margin-left: 64px;
  }
}
@media (min-width: 1200px) {
  nav ul {
    padding-bottom: 96px;
    padding-top: 24px;
    margin-right: 128px;
  }
  nav li {
    padding-left: 24px;
    font-size: 28px;
    line-height: 30px;
  }
  #logo {
    background-size: auto 44px;
    margin-top: 18px; /* 48 + half line height (26/2=12) - half size (44/2 = 22) = 38 */
    margin-left: 128px;
    height: 48px;

  }
}

/* article header */
.green-layout header, .blue-layout header, .black-layout header {
  font-family: IBMPlexMono, Roboto, monospace;
  margin: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
}

header img {
  width: 100%;
}

header h1 {
  font-family: BebasNeueBold, Oswald, sans-serif;
  padding-top: 16px;
  font-size: 40px;
  line-height: 40px;
}

header p {
  padding-top: 16px; /* 48 - 34 + 18 = 32 */
  font-size: 14px;
  line-height: 26px;
}

header h1, header p {
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 0px;
  margin-top: 0px;
}

@media (min-width: 768px) {
  header h1, header p {
    margin-left: 64px;
    margin-right: 64px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  header h1 {
    padding-top: 24px;
    font-size: 48px;
    line-height: 48px;
  }
  header p {
    padding-top: 32px; /* 48 - 34 + 18 = 32 */
    font-size: 16px;
    line-height: 30px;
  }
}
@media (min-width: 1200px) {
  header h1, header p {
    margin-left: 128px;
    margin-right: 128px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  header h1 {
    padding-top: 24px;
    font-size: 64px;
    line-height: 64px;
  }
  header p {
    padding-top: 32px; /* 48 - 34 + 18 = 32 */
    font-size: 18px;
    line-height: 34px;
  }
}

/* section */

section {
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: IBMPlexSans, Roboto, sans-serif;
}

section h1 {
  color: #017FFD;
  border-top: solid 4px #017FFD;
  font-family: BebasNeueBold, Oswald, sans-serif;
  margin-top: 24px;
  margin-bottom: 24px;
  padding-top: 24px;
  font-size: 40px;
  line-height: 40px;
}

section h2 {
  color: #353535;
  font-family: BebasNeueBold, Oswald, sans-serif;
  margin-top: 24px;
  font-size: 26px;
  line-height: 26px;
}

section h3 {
  color: #353535;
  font-family: BebasNeueBold, Oswald, sans-serif;
  margin-top: 24px;
  font-size: 20px;
  line-height: 22px;
}

section p {
  font-size: 14px;
  line-height: 26px;
}

section blockquote {
  font-size: 26px;
  color: #017FFD;
  line-height: 38px;
}

section intro {
  font-size: 16px;
  line-height: 30px;
}

section blockquote {
  font-family: IBMPlexMono-LightItalic;
}

summary {
  font-size: 14px;
  line-height: 26px;
}

summary > p {
  margin-top: 0px;
}

@media (min-width: 768px) {
  section {
    margin-left: 64px;
    margin-right: 64px;
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: IBMPlexSans, Roboto, sans-serif;
  }
  section p {
    font-size: 16px;
    line-height: 30px;
  }
  section h1 {
    margin-top: 48px;
    margin-bottom: 24px;
    padding-top: 24px;
    font-size: 48px;
    line-height: 48px;
  }
}
@media (min-width: 1200px) {
  section {
    margin-left: 128px;
    margin-right: 128px;
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: IBMPlexSans, Roboto, sans-serif;
  }
}

/* footer */

footer {
  display: table;
  width: 100%;
}

footer {
  background: #353535;
  color: #72F6B2;
  margin-top: 80px;
  clear: left;
}

footer ul {
  float: left;
  padding-bottom: 24px;
  padding-top: 24px;
  padding-left: 0px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 0px;
  margin-top: 0px;
  max-width: 200px;
}

#footer_logo {
  height: 200px;
}

footer li {
  padding-top: 24px;
  display: block;
}

footer li h1 {
  font-family: BebasNeueBold, Oswald, sans-serif;
  color: #72F6B2;
  font-size: 20px;
  line-height: 22px;
}

footer a, footer li {
  font-family: IBMPlexMono, Roboto, monospace;
  color: white;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
}

@media (min-width: 768px) {
  footer ul {
    padding-bottom: 32px;
    padding-top: 24px;
    margin-left: 64px;
    margin-right: 64px;
  }
  footer h1 {
    font-size: 26px;
    line-height: 26px;
  }
  footer a, footer li {
    font-size: 14px;
    line-height: 26px;
  }
}

@media (min-width: 1200px) {
  footer ul {
    padding-bottom: 96px;
    padding-top: 48px;
    margin-left: 128px;
    margin-right: 128px;
  }
  footer a, footer li {
    font-size: 14px;
    line-height: 26px;
  }
}

/** to deal with the image in the title we must have title flowing over the image in the header */
header {
  position: relative;
}
.titlebox {
  position: absolute;
  bottom: 0px;
}

/* newsitems on frontpage */
.newsitem h2 a {
  text-decoration: none;
  color:
}

.newslist:last-child {
  display: none;
}

@media(min-width: 768px) {
  .newscontainer {
    clear: both;
    margin: 0px;
    padding: 0px;
    display: table;
  }
  .newsitem {
    width: 40%;
    display: table-cell;
  }
  .newsitem:first-child {
    padding-right: 24px;
  }
  .newsitem:last-child {
    padding-left: 24px;
  }

}

.bluebutton {
  text-align: center;
  background: #017FFD;
  color: white;
  margin: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-top: 16px;
  display: inline-block;
  text-decoration: none;
}
