/* margin 96px unrelated, 48px unrelated
padding 24px margin horizontal 128px*/

.green-layout header, .green-layout nav, .green-layout nav a {
  background: #72F6B2;
  color: #353535;
  text-decoration: none;
}

.blue-layout header, .blue-layout nav, .blue-layout nav a{
  background: #017FFD;
  color: white;
  text-decoration: none;
}

.black-layout header, .black-layout nav, .black-layout nav a {
  background: #353535;
  color: #72F6B2;
  text-decoration: none;
}

.green-layout header h1 {
  color: #353535;
  border-top: solid 4px #353535;
}

.blue-layout header h1 {
  border-top: solid 4px white;
}

.black-layout header h1 {
  border-top: solid 4px #72F6B2;
}

h2, h3 {
  color: #353535;
}

section h1 {
  color: #017FFD;
  border-top: solid 4px #017FFD;
}

/* fonts */
@font-face {
    font-family: BebasNeueBold;
    src: url(/assets/fonts/BebasNeue-Bold.woff);
}
/* from https://github.com/IBM/plex/tree/master/IBM-Plex-Mono/fonts/complete/woff */
@font-face {
    font-family: IBMPlexMono;
    src: url(/assets/fonts/IBMPlexMono-Regular.woff);
}

@font-face {
    font-family: IBMPlexSans;
    src: url(/assets/fonts/IBMPlexSans-Regular.woff);
}

@font-face {
    font-family: IBMPlexMono-LightItalic;
    src: url(/assets/fonts/IBMPlexMono-Lightitalic.woff);
}

nav, h1, h2 {
  font-family: BebasNeueBold, Oswald, sans-serif;
}

header p, section intro {
  font-family: IBMPlexMono, Roboto, monospace;
}

section {
  font-family: IBMPlexSans, Roboto, sans-serif;
}


section blockquote {
  font-family: IBMPlexMono-LightItalic;
}

/* size and space [TODO make responsive]*/

body, nav, header, section, article {
  margin: 0px;
}

header {
  margin: 0px;
}

header img {
  width: 100%;
}

section, header h1, header p, nav ul {
  margin-left: 64px;
  margin-right: 64px;
  margin-bottom: 0px;
  margin-top: 0px;
}

header h1 {
  padding-top: 24px;
  font-size: 48px;
  line-height: 48px;
}

header p {
  padding-top: 32px; /* 48 - 34 + 18 = 32 */
  font-size: 16px;
  line-height: 30px;
}

section {
  padding-top: 24px;
  padding-bottom: 24px;
}

section intro {
  font-size: 16px;
  line-height: 30px;
}

section h1 {
  margin-top: 24px;
  padding-top: 24px;
  font-size: 40px;
  line-height: 40px;
}

section h2 {
  margin-top: 24px;
  font-size: 26px;
  line-height: 26px;
}

section h3 {
  margin-top: 24px;
  font-size: 20px;
  line-height: 22px;
}

section p {
  font-size: 14px;
  line-height: 26px;
}

section blockquote {
  font-size: 26px;
  color: #017FFD;
  line-height: 38px;
}

#logo {
  height: 38px;
  float: left;
  padding-top: 14px; /* 48 + half line height (24/2=12) - half size (44/2 = 22) = 38 */
  padding-left: 64px;
}

/* nav */
nav ul {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 24px;
  padding-top: 24px;
}

nav li {
  display: inline-block;
  padding-left: 24px;
  font-size: 20px;
  line-height: 22px;
}

nav ul li:first-child
{
  float: left;
}

footer {
  margin-top: 96px;
  height: 300px;
}
/* responsive */
@media (min-width: 768px) {
  header h1 {
    border-top: solid 8px;
  }
  section, header h1, header p, nav ul {
    margin-left: 128px;
    margin-right: 128px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  header h1 {
    padding-top: 48px;
    font-size: 82px;
    line-height: 82px;
  }

  header p {
    padding-top: 32px; /* 48 - 34 + 18 = 32 */
    font-size: 18px;
    line-height: 34px;
  }

  section {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  section intro {
    font-size: 18px;
    line-height: 34px;
  }

  section h1 {
    margin-top: 48px;
    padding-top: 24px;
    font-size: 64px;
    line-height: 64px;
  }

  section h2 {
    margin-top: 48px;
    font-size: 32px;
    line-height: 34px;
  }

  section h3 {
    margin-top: 48px;
    font-size: 24px;
    line-height: 26px;
  }
  section p {
    font-size: 16px;
    line-height: 30px;
  }
  section blockquote {
    font-size: 22px;
    line-height: 32px;
  }
  #logo {
    height: 44px;
    float: left;
    padding-top: 36px; /* 48 + half line height (24/2=12) - half size (44/2 = 22) = 38 */
    padding-left: 128px;
  }
  nav ul {
    padding-bottom: 48px;
    padding-top: 48px;
  }
  nav li {
    display: inline-block;
    padding-left: 48px;
    font-size: 24px;
    line-height: 26px;
  }
}

/** to deal with the image in the title we must have title flowing over the image in the header */
header {
  position: relative;
}
.titlebox {
  position: absolute;
  bottom: 0px;
}
